<div class="language-switcher nav-link">
  <div class="language-current" onclick="toggleLanguageDropdown()">
    <span class="flag" id="current-flag">
      {{ if eq .Site.Language.Lang "fr" }}🇫🇷{{ else if eq .Site.Language.Lang
      "nl" }}🇳🇱{{ else }}🇬🇧{{ end }}
    </span>
  </div>
  <div class="language-dropdown" id="language-dropdown">
    {{ range .Site.Languages }} {{ if ne .Lang site.LanguageCode }}
    <a
      href="#"
      class="language-option"
      data-lang="{{ .Lang }}"
      onclick="switchLanguage('{{ .Lang }}'); return false;"
    >
      <span class="flag">
        {{ if eq .Lang "fr" }}🇫🇷{{ else if eq .Lang "nl" }}🇳🇱{{ else }}🇬🇧{{ end
        }}
      </span>
      <span class="language-name">{{ .LanguageName }}</span>
    </a>
    {{ end }} {{ end }}
  </div>
</div>
