<div class="language-switcher nav-link">
  <div
    class="language-current"
    onclick="toggleLanguageDropdown(); event.stopPropagation();"
  >
    <img class="flag" id="current-flag" src="{{ if eq .Site.Language.Lang "fr"
    }}/images/fr.png{{ else if eq .Site.Language.Lang "nl" }}/images/nl.png{{
    else }}/images/en.png{{ end }}" alt="{{ .Site.Language.LanguageName }}
    flag">
  </div>
  <div class="language-dropdown" id="language-dropdown">
    {{ range .Site.Languages }} {{ if ne .Lang site.LanguageCode }}
    <a
      href="#"
      class="language-option"
      data-lang="{{ .Lang }}"
      onclick="switchLanguage('{{ .Lang }}'); event.stopPropagation(); return false;"
    >
      <img class="flag" src="{{ if eq .Lang "fr" }}/images/fr.png{{ else if eq
      .Lang "nl" }}/images/nl.png{{ else }}/images/en.png{{ end }}" alt="{{
      .LanguageName }} flag">
      <span class="language-name">{{ .LanguageName }}</span>
    </a>
    {{ end }} {{ end }}
  </div>
</div>
